<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 是接口全类名 -->
<mapper namespace="cn.java.money.mapper.EmployeeMapper">

    <!-- 因为settings中配置 mapUnderscoreToCamelCase=true (默认是false)， 因此last_name 能够映射到 lastName-->
    <!-- 因为配置typeAliases,所以resultType可以写别名 Employee-->
    <select id="selectEmp" resultType="emp" databaseId="mysql">
        select * from tbl_employee  where id = #{id}
    </select>

    <!-- id 是方法名   -->
    <select id="getEmployeeById" resultType="emp">
        select id, last_name as lastName, email, gender from tbl_employee  where id = #{id}
    </select>

</mapper>